/* Error: expected "{".
 *     ,
 * 323 | >>>>>>> 45b1dff9426fc7042281b053da29cf43f3f8034d
 *     |                                                 ^
 *     '
 *   scss\_menu.scss 323:49  @import
 *   scss\main.scss 15:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 323 \2502  >>>>>>> 45b1dff9426fc7042281b053da29cf43f3f8034d\d\a     \2502                                                  ^\a     \2575 \a   scss\\_menu.scss 323:49  @import\a   scss\\main.scss 15:9     root stylesheet';
}
