.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }
  .card_ {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $VeertienBlack;
    width: 80%;
    margin: 20px;
  }
  .card_body {
    margin: 1rem;
    color: $VeertienWhite;
  }
  .card_title {
    font-weight: 700;
  }
  
  .card_img {
    height: 400px;
    object-fit: cover;
  }
  a {
    text-decoration: none;
  }