@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
main {
  background-color: $VeertienWhite;
}
body {
  font-size: 1rem;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  font-family: "Amiko", sans-serif;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html{
  scroll-behavior: smooth;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.title {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
  color: $VeertienBlack;
}
.copy {
  font-size: 1rem;
  text-align:center;
  text-justify: auto;
  padding: 0 3vh;
  padding-bottom: 3vh;
}
.title_invert{
  color: $VeertienWhite;
}
.copy_invert{
  color: $VeertienWhite;
}
.boton {
  background-color: $VeertienWhite;
  padding: 20px;
  text-decoration: none;
  color: $VeertienBlack;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 500;
}
.boton:hover {
  background-color: $VeertienBlue;
  color: $VeertienWhite;
}

.title_button_container{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.title_button{
  font-size: 1,4rem;
  color: $VeertienWhite;
  text-decoration: none;
  transition: .5s;
}
.title_button:hover{
  color: $VeertienBlue;
}

.carousel-control-next-icon .carousel-control-prev-icon{
  display: none;
}