.menu-toggle{
  scale: 1.3;
  right: 0;
  top: 0;
  z-index: 99;
  margin: .5rem 1rem;
	width:40px;
	height:40px;
	cursor:pointer;
	position:absolute;
}
.hamburger,.cross{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.hamburger span{
	display:block;
	width:18px;
	height:2px;
	margin-bottom:3px;
	overflow:hidden;
	position:relative;
}
.hamburger span:last-child{
	margin:0;
}
.hamburger span:before,.hamburger span:after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background-color:$VeertienWhite;
	transform:translateX(-200%);
	transition:transform ease 300ms;
}
.hamburger span:after{
	transform:translateX(0);
}
.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
	transition-delay:75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
	transition-delay:150ms;
}
.menu-toggle:hover .hamburger span:before{
	transform:translateX(0);
}
.menu-toggle:hover .hamburger span:after{
	transform:translateX(200%);
}
.menu-toggle.active .hamburger span:before{
	transform:translateX(100%);
}
.menu-toggle.active .hamburger span:after{
	transform:translateX(200%);
}
.cross span{
	display:block;
	width:18px;
	height:2px;
	background-color:$VeertienWhite;
	transform:translateY(50%) rotate(45deg) scaleX(0);
	transition:transform ease 200ms;
}
.cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(0);
}
.menu-toggle.active .cross span{
	transition-delay:450ms;
	transform:translateY(50%) rotate(45deg) scaleX(1);
}
.menu-toggle.active .cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(1);
}

body {
  overflow-x: hidden;
}
.menu-title {
  color: #fff;
  font-size: 1.5em;
  margin: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list li a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.menu-list li a:hover {
  background-color: #fff;
  color: #333;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  background: $VeertienBlack;
  width: 250px;
  height: 100%;
  transform: translateX(250px);
  transition: transform 0.3s ease-in-out;
  /* Añadimos la propiedad position */
}

.menu.active {
  transform: translateX(0);
}

.content_menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 2rem;
  color: $VeertienWhite;
}

.title_menu {
  font-size: 1.4rem;
  font-weight: 700;
}

.ul_menu {
  
}

.li_menu {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  a {
    font-weight: 500;
    text-decoration: none;
    color: $VeertienWhite;
  }
}

.copy_menu {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem 2rem;
}
