
nav {
  transition: all ease-in-out 1s;
  padding: 10px 20px;
  width: 100vw;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10; 
}
  .logo_nav {
    height: 1.4rem; 
}