.img_carousel{
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.full-screen {
  height: 100vh; /* altura igual a la altura de la pantalla */
  width: 100%; /* ancho igual al ancho de la pantalla */
}
.title_section1 {
  //text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  span{
    font-size: inherit;
  }
}

.caja__textos{
  position: relative;
  margin-bottom: 2rem;
  // top: 30%;
  // left: 30%;
  // transform: translate(-30%, -30%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}


.title__active {
  font-size: 2.4rem;
  font-weight: 700;
  transform-origin: center;
  transition: opacity 0.5s ease-in-out;
}
.text{
  width: 100%;
  margin: 0.3rem;
  font-size: 1rem;
  span{
    font-size: inherit;
  }
}
.text__active {
  font-weight: 700;
}

.cta {
  padding: 1rem;
  margin: 1rem 0;
  color:$VeertienWhite;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid white;
}

.cta:hover {
  background: $VeertienBlue;
  transition: 0.2s ease-in-out;
  color: $VeertienWhite;
  animation: forwards;
  border: 2px solid $VeertienBlue;
}
