.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
  }
  
  .el {
    position: absolute;
    opacity: .6;
    width: 2px;
    height: 24vh;
    margin-top: -250px;
    transform-origin: 50% 100%;
    background: white;
  }
  
  .container_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center; /* Agregado para centrar verticalmente los elementos */
  }
  
  .logo_wrapper {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  #scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100%;
  background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
  top: 0;
  position: fixed;
  z-index: -1;
}


.content
{
  height: fit-content;
  background: #ededed;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
}

h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 150px;
  color: #fff;
}

header h1{}

.content h1{
  line-height: 1000px;
  color: #999;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.content {
  background-color: transparent;
  padding: 60px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 300px;
  -ms-flex: 300px;
  flex: 300px;
  min-width: 80vw;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #c3c6ce;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}

.card:hover {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  border-color: #008bf8;
}

.card--hover {
  padding: 50px 0;
  text-align: center;
  opacity: 0.6;
  transition: 0.25s ease;
}

.card--hover h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #008bf8;
}

.card--hover p {
  margin: 10px 0 0;
  font-size: 15px;
  text-align: left;
  margin: 10px 10px 0 20px;
}

.card--hover a {
  border-radius: 20px;
  background-color: #008bf8;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 125%);
  opacity: 0;
  transition: 0.25s ease;
}

.card--hover:hover a {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}

.card--dark a {
  background-color: #7FEFBD;
  color: #1a1a1a;
}